body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	max-width: 850px;
	margin: 0px auto;
	padding: 15px 30px 0;
}

select,
input {
	display: block;
	margin: 10px 0;
}

#args select,
#args input {
	display: inline-block;
}

.fieldname {
	font-size: 12px;
}

#description {
	font-weight: bold;
}

#impersonate-output,
#tester-output {
	background: #F3EED4;
	padding: 5px;
	font-family: monospace;
	white-space: pre-line;
	display: block;
}

#impersonate-output.hide,
#tester-output.hide {
	display: none;
}

textarea {
	font-family: monospace;
}

h1 {
	font-size: 45px;
	margin: .75em 0 1em;
}

h2 {
	font-size: 26px;
	margin: 1em 0 1em;
}

form {
	margin-bottom: 3em;
}

.hide {
	display: none;
}